body {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}

nav .logo-text {
  border-left: 0.1rem solid #b6b6b6;
  bottom: 8px;
  font-size: 1.25rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  line-height: 2rem;
  padding-left: 0.75rem;
  position: relative;
  text-transform: uppercase;
}

nav .logo-png {
  padding-left: 15px;
  padding-top: 13px;
  width: 130px;
}

nav ul li {
  font-size: 1.25rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

main {
  flex: 1 0 auto;
}

main .card {
  margin-top: 30px;
}

#cover {
  max-width: 100%;
  max-height: 800px;
}

.container {
  margin-top: 40px;
}

footer.page-footer small {
  padding-left: 15px;
}

@media only screen and (min-width: 601px) {
  nav .logo-png {
    padding-top: 20px;
  }
}
